################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorApp/BlazorWA/obj
/BlazorApp/BlazorWA/bin
/BlazorApp/BlazorAppTest/bin
/BlazorApp/BlazorAppTest/obj
/BlazorApp/BlazorAppTest/obj
