
@page "/"
@inject HttpClient http

<div class="row mb-2">
	<div class="col-sm-6">
		<h3>Tasks List</h3>
	</div>
	<div class="col-sm-6 text-right">
		<a href="addtask" class="btn btn-outline-primary"><span class="oi oi-plus" aria-hidden="true"></span> Add Task</a>
	</div>
</div>

@if (lstTasks == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Complete</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in lstTasks)
			{
				<tr>
					<td>@item.Title</td>
					<td>@item.Description</td>
					<td>@item.Completed</td>
					<td>
						<a href="addtask/@item.ID">
							<span class="oi oi-delete" aria-hidden="true"></span>
						</a>
						<a href="addtask/@item.ID">
							<span class="oi oi-pencil" aria-hidden="true"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	private ViewModels.TaskModel[] lstTasks;
	protected override async Task OnInitializedAsync()
	{
		try
		{
			lstTasks = await http.GetJsonAsync<ViewModels.TaskModel[]>("https://practiceapi.devmountain.com/api/tasks");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex);
			throw;
		}
	}

}
